body {
	background-color: #f5f5f5;
	font-family: rial, Helvetica, sans-serif;
	padding:10px;
}

a {
	color: inherit;
}

.error {

	border: 1px solid red;
}

.flex-container{
	display: flex;
	flex-wrap: nowrap;
	width: 760px;  
}

.flex-container div {
	flex: 50%;
}

.lobby-box {
	flex: 50%;
	height: 100px;
	padding: 5px;
	margin-right: 10px;
	font-size: small;
	overflow-y: scroll;
	border: 1px solid #c0c0c0;
	background-color: white;
	margin-bottom: 5px;
}


.player-icon{
	width: 15px;
	height: 14px;
	vertical-align: top;
}



#player-area {

	color: white;
	width: 800px;
	display: flex;
}


#player-details {
	padding-top: 15px;
	width: 300px;

}

.player-area-row {
	display: flex;
	width: 100%;
	padding: 10px;
	background-color: #c0c0c0;
}

.blue-team {
	background-color: #3a56a5;
	color: white;
}
.red-team {
	background-color: #ee1c26;
	color: white;
}
.grey-team {
	background-color: #918585;
	color: white;
}

#blue-role-count{
	font-weight: bold;
	font-size: small;
	color: #3a56a5;
	flex:20px;
}
#red-role-count{
	font-weight: bold;
	font-size: small;
	color: #ee1c26;
	flex:20px;
}
#grey-role-count{
	font-weight: bold;
	font-size: small;
	color: #918585;
	flex:20px;
}

.admin-area-link {

	display:flex;
	font-size: smaller;
	margin-bottom: 2px;

}

#interaction-area{
	font-size: small;
	
}

#interaction-area button{
	margin-top: 5px;
}

.lobby-message-box{

	width: 300px;
}

.admin-area-label{

	width: 150px;
	vertical-align: bottom;
	font-size: small;
}

.admin-area-link input{
	width: 300px;
}
#game-roles{
	width:450px;
	margin-bottom: 5px;
}
.player-area-label {
	box-sizing: border-box;
	width: 100px;
}

.player-area-value {
	font-weight: bold;
	text-align: left;
}

.player-area-col {
	flex-grow: 1;
	box-sizing: border-box;
	width: 50%;
}


#player-list{

	width: 195px;
}
.flip-card {
	background-color: transparent;
	width: 220px;
	height: 300px;
	perspective: 1000px;
}

.flip-card-inner {
	z-index: 50;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	
}

.flip-card-reveal {
	transform: rotateY(180deg) translate(-10px, 0px);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	color: black;
}

.flip-card-back {
	color: blue;
	transform: rotateY(180deg) translate(0px, 0px);
}

.playingCards .card {
	z-index: 20;
	display: inline-block;
	width: 220px;
	height: 300px;
	padding: 15px 5px;
	position: relative;
	background-color: #c0c0c0;
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-khtml-border-radius: .3em;
	text-align: center;
	font-size: 1.2em;
	/* @change: adjust this value to make bigger or smaller cards */
	font-weight: normal;
	font-family: Arial, sans-serif;
	
}


.playingCards a.card {
	text-decoration: none;
}

/* selected and hover state */
.playingCards a.card:hover,
.playingCards a.card:active,
.playingCards a.card:focus,
.playingCards label.card:hover,
.playingCards strong .card {
	bottom: 1em;
}

.playingCards label.card {
	cursor: pointer;
}

.playingCards card role{

	border: solid 1px white;
}

#card-bg {
	z-index: 10 !important;
}
.card-effects {
	position: absolute !important;
	background-color: #c0c0c0 !important;
	top: 0px;
	left: 0px;
	width: 230px;
	height: 310px;
	box-shadow: .2em .2em .5em #333;
}

.role {
	align-content: center;

}
.role-label {
	text-align: center;
	padding-top: 20px;
	vertical-align: bottom;
	color: white;
	font-size: x-large;
	font-weight: 800;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.role-president{
	height: 190px;
	margin: 0 auto;
	content: url('images/president.png');
}
.role-bomb{
	height: 190px;
	margin: 0 auto;
	content: url('images/bomb.png');
}
.role-gambler{
	height: 190px;
	margin: 0 auto;
	content: url('images/gambler.png');
}
.role-mook{
	height: 190px;
	margin: 0 auto;
	content: url('images/mook.png');
}